{% extends 'base.html.twig' %}
{% block title %}Register{% endblock %}
{% block welcomepic %}{% endblock %}

{% block body %}

<div class="animsition" data-animsition-in-class="zoom-in-sm"
     data-animsition-in-duration="1000"
     data-animsition-out-class="zoom-out-sm"
     data-animsition-out-duration="800" >

    <div class="container mt90">

        <div class="row">
            <div class="col-lg-8 m-auto text-center">
                <div class="mb-5">
                    <h1>Register form</h1>
                </div>
                {{ form(form) }}
            </div>
        </div>

    </div>

</div>


{% endblock %}

{% block footer %}{% endblock %}


