{% extends 'base.html.twig' %}

{% block title %}MuLib{% endblock %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>MuLib</h1>
        {% if app.user%}
            <h4>Welcome {{ app.user.username }}</h4>
        {% endif %}
    </div>
    <div class="container">
        <h2 class="mb-5">The latest songs :</h2>
        {{ include('song/_ws.html.twig') }}
    </div>

{% endblock %}


